[submodule "mcps/deviantart-mcp"]
	path = mcps/deviantart-mcp
	url = git@github.com:LordFarquaadtheCreator/deviantart-mcp.git
[submodule "mcps/create-image"]
	path = mcps/create-image
	url = git@github.com:LordFarquaadtheCreator/create-image.git
[submodule "skills/youtube-transcript/youtube-transcript"]
	path = skills/youtube-transcript/youtube-transcript
	url = git@github.com:LordFarquaadtheCreator/youtube-transcript.git
[submodule "mcps/create-video"]
	path = mcps/create-video
	url = https://github.com/LordFarquaadtheCreator/create-video.git
[submodule "mcps/cover-letter-writter"]
	path = mcps/cover-letter-writter
	url = https://github.com/LordFarquaadtheCreator/cover-letter-writter.git
[submodule "mcps/create-story"]
	path = mcps/create-story
	url = git@github.com:LordFarquaadtheCreator/create-story.git
[submodule "mcps/generate-story"]
	path = mcps/generate-story
	url = git@github.com:LordFarquaadtheCreator/generate-story.git
